<div class='panel'>
	<div class='panel_contents'>

		<%= form_tag do |f| %>
			<% categories.each do |category| %>
				<br>
			  <strong><%= category.name %></strong>
			  <br>
			  <% category.subcategories.each do |subcat| %>
			  	<% if selected_subcategories.include?(subcat) %>
				    <%= check_box_tag "subcategories[]", subcat.id, checked: :true %> <%= subcat.name%><br>
			    <% else %>
				    <%= check_box_tag "subcategories[]", subcat.id %> <%= subcat.name%><br>
					<% end %> 
			  <% end %>
			<% end %>
			<br>
			<%= submit_tag "Update subcategories for this provider" %>
		<%end%>

	</div>
</div>