<% if flash[:errors] %>
	<ul>
	<% flash[:errors].each do |err| %>
		<li><%= err %></li>
	<% end %>
	</ul>
<% end %>

<h1>Edit Category</h1>

<%= form_for @category do |f| %>
	<p>
		<%= f.label :name, "Category Name: " %>
		<%= f.text_field :name %>
	</p>	
	<%= f.submit "Update category!"%>
<% end %>

<br><br>

<%= link_to "Delete this category", 
				service_category_path(@category),
				method: :delete, 
				data: { confirm: "Are you sure?"} %>