<h1>Service Categories </h1>

<%= link_to "Add service category", new_service_category_path %>
<br><br>

<table>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
	<% @categories.each do |category| %>
	<tr>
		<td><%= category.id %></td>
		<td><%= link_to category.name, service_category_path(category) %></td>
		<td><%= link_to "Edit", edit_service_category_path(category) %></td>
		<td><%= button_to "Delete", service_category_path(category),
															method: :delete, 
															data: { confirm: "Are you sure?"} %></td>
	</tr>	
	<% end %>
</table>
