<div class="row main-content-section">
  <% @providers.each_with_index do |provider, index| %>
    <div class="large-6 columns">
      <div class="row middle-logo-row">
        <a href="<%= service_provider_path(provider) %>" class="view-more-i">i</a>
        <div class="col-logo">
          <div class="large-4 columns"><%=image_tag provider.image_url(:thumb).to_s %></div>
          <div class="large-8 columns">
            <p>Name : <%= link_to provider.name, service_provider_path(provider) %></p>
            <p>Mission : <%= provider.mission.truncate(20)%></p>
            <p>State : <%= provider.state%></p>
          </div>
        </div>
      </div>
    </div>
    <%= "<div class='clearfix'></div>".html_safe if (index+1)%2==0 %>
  <% end %>  
</div>

