<%= render "layouts/flasherror" %>

<h1>Edit Provider</h1>

<%= form_for @provider do |f| %>
  <p>Organization's Logo/Image: <%= f.file_field :image, placeholder: "Logo" %> </p>
  <p>Organization's Name: <%= f.text_field :name %></p>
  <p>Mission Statement: <%= f.text_field :mission %></p>
  <p>Street 1: <%= f.text_field :street1 %></p>
  <p>Street 2: <%= f.text_field :street2 %></p>
  <p>City: <%= f.text_field :city %></p>
  <p>State: <%= f.text_field :state %></p>
  <p>Zip code: <%= f.text_field :zip_code %></p>
  <p>Website: <%= f.text_field :website %></p>
  <p>Contact Person: <%= f.text_field :contact_person %></p>
  <p>Contact Email: <%= f.text_field :contact_email %></p>
  <p>Phone Number: <%= f.text_field :work_phone %></p>
  <p>Fax: <%= f.text_field :fax %></p>

  <p>Category </p>
  <% @all_categories.each do |category| %>
    <strong><%= category.name %></strong><br>
    <% category.subcategories.each do |subcat| %>
    	<% if @selected_subcategories.include?(subcat) %>
  	    <%= check_box_tag "subcategories[]", subcat.id, checked: :true %> <%= subcat.name%><br>
      <% else %>
  	    <%= check_box_tag "subcategories[]", subcat.id %> <%= subcat.name%><br>
  		<% end %> 
    <% end %>
  <% end %>

  <p>Other: <%= f.text_area :other %></p>
  <p>Publish: <%= f.check_box :published %> </p>
	<%= f.submit "Update provider!"%>
<% end %>

<br><br>

<%= link_to "Delete this provider",
				service_provider_path(@provider),
				method: :delete,
				data: { confirm: "Are you sure?"} %>