<% if @provider.errors.any? %>
	<ul>
	  <% @provider.errors.full_messages.each do |error| %>
	    <li class="error"><%= error %></li>
	  <% end %>
  </ul>
<% end %>


<h2>Create new service provider</h2>

<%= form_for @provider do |f| %>

<h3> Organization's information </h3>

<!-- IMAGE UPLOAD -->

  
  <p>Organization's Name: <%= f.text_field :name, placeholder: "Organization's name" %></p>
  <p>Mission Statement: <%= f.text_field :mission, placeholder: "Mission Statement" %></p>
  <p>Street 1: <%= f.text_field :street1, placeholder: "Street 1" %></p>
  <p>Street 2: <%= f.text_field :street2, placeholder: "Street 2" %></p>
  <p>City: <%= f.text_field :city, placeholder: "City" %></p>
  <p>State: <%= f.text_field :state, placeholder: "State" %></p>
  <p>Zip code: <%= f.text_field :zip_code, placeholder: "Zip Code" %></p>
  <p>Website: <%= f.text_field :website, placeholder: "Website" %></p>
  <p>Contact Person: <%= f.text_field :contact_person, placeholder: "Contact Person" %></p>
  <p>Contact Email: <%= f.text_field :contact_email, placeholder: "Contact Email" %></p>
  <p>Phone Number: <%= f.text_field :work_phone, placeholder: "Phone Number" %></p>
  <p>Fax: <%= f.text_field :fax, placeholder: "Fax" %></p>
  
  <p>Other: <%= f.text_area :other, placeholder: "Other" %></p>
  <p>Categories: </p>
    <% @categories.each do |c| %>
      <%= check_box_tag "categories[]", c.id %> <%= c.name%><br>
    <% end %>
  <h5>QUESTIONS?</h5>
  <p>- difference between providers email and contact email? </p>
  <p>- Infraction supported: nothing text field yet. to be added</p>

  <%= f.submit "Create New Service Provider" %>

<% end %>




