<%= link_to "Go to HOME PAGE", root_path %>

<% if @provider.errors.any? %>
	<ul>
	  <% @provider.errors.full_messages.each do |error| %>
	    <li class="error"><%= error %></li>
	  <% end %>
  </ul>
<% end %>


<%= form_for @provider do |f| %>
<h2>Create new service provider</h2>
  <p>
    <%= f.label :name, "Provider Name: " %>
    <%= f.text_field :name %><br><br>
  </p>
  <%= f.submit "Create New Service Provider" %>
<% end %>


